@charset "UTF-8";
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/dana-fanum-regular.eot);
    src: url(assets/fonts/dana-fanum-regular.eot?#iefix) format("embedded-opentype"), url(assets/fonts/dana-fanum-regular.woff2) format("woff2"), url(assets/fonts/dana-fanum-regular.woff) format("woff")
}

.popup-container {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 245px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.popup-container .difficulty-container {
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.popup-container .difficulty-container .difficulty-text {
    border-radius: 0.25rem;
    padding: 5px 8px;
    color: white;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.popup-container .difficulty-container .difficulty-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.popup-container .difficulty-container .remove-button {
    display: none;
    padding: 5px 8px;
    font-size: 14px;
}

.popup-container .difficulty-container .difficulty-info {
    font-size: x-small;
    direction: rtl;
    text-align: right;
    margin-bottom: 32px;
}

.popup-container .difficulty-container .correction-link {
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    left: 20px;
    text-decoration: none;
}

.popup-container .not-supported-container {
    display: none;
    text-align: right;
    font-size: small;
}

.popup-container .not-supported-container .not-supported-text {
    direction: rtl;
}

.popup-container .not-supported-container .not-supported-link {
    font-size: 12px;
    text-decoration: none;
}

.popup-container .spinner-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.popup-container .spinner-container .fa-circle-notch {
    font-size: 25px;
}
